* {
  margin: 0;
  padding: 0;
}

.topnav {
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #9faac7;
  z-index: 100;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  font-family: courier new;
  font-weight: bold;
  text-transform: uppercase;
}

.topnav a:hover {
  background-color: #48bece;
  color: black;
}

.topnav a.active {
  background-color: #48bece;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
}

.right-lnk {
  float: right;
}

.search {
  color: rgb(78, 158, 196);
}

.logo {
  border-radius: 50%;
  border: 1cm;
  padding-top: 5px;
  padding-left: 15px;
  margin-bottom: -40px;
}

/* .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 30px;
  background-color: #095e18;
  position: fixed;
  top: 0;
  width: 100%;
  height: 2%; 
}

.search {
  color: rgb(36, 197, 89);
}

.logo {
  border-radius: 50%;
  border: 1cm;
}

.navright {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
}

.navlinks {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  text-transform: uppercase;
}

.navlinks span a {
  text-decoration: none;
  color: burlywood;
}

.navlinks :first-child:hover {
  color: rgb(18, 211, 105);
} */

.hero {
  background-image: url(../img/waterfall.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: rgba(0, 0, 0, 0.216);
}

.hero h1 {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
}

.hero p {
  font-size: 3rem;
  color: white;
}

.hero-buttons :first-child {
  border-radius: 20%;
  background-color: #053f0f;
  padding: 10px 20px;
  color: rgb(221, 155, 69);
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  margin-right: 20px;
}

.hero-buttons :first-child:hover {
  color: rgb(18, 211, 105);
  background-color: #095e18;
  font-size: larger;
}

.hero-buttons :last-child:hover {
  color: rgb(18, 211, 105);
  background-color: #095e18;
  font-size: larger;
}

.hero-buttons :nth-child(2) {
  border-radius: 20%;
  background-color: rgba(60, 122, 81, 0.096);
  padding: 6px 20px;
  color: rgb(235, 165, 74);
  font-size: 1rem;
  text-transform: uppercase;
  border-width: 3px;
  border-color: #095e18;
  border-style: solid;
  font-size: larger;
}

.page-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
  background-color: azure;
}

.laptop img {
  width: 600px;
  border-radius: 20%;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 3rem;
}

.info button {
  height: 50px;
  width: 200px;
  background-color: #053f0f;
  color: rgb(221, 155, 69);
  border-radius: 20%;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  margin-right: 20px;
}

.info button:hover {
  color: rgb(18, 211, 105);
  background-color: #095e18;
  font-size: larger;
}

.info h3 {
  font-size: xx-large;
  color: #095e18;
}

.info p {
  text-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.page-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
  background-color: rgb(220, 252, 252);
}

.pg3-laptop img {
  width: 600px;
  border-radius: 20%;
}

.pg3-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 3rem;
}

.pg3-info button {
  height: 50px;
  width: 200px;
  background-color: #053f0f;
  color: rgb(221, 155, 69);
  border-radius: 20%;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  margin-right: 20px;
}

.pg3-info button:hover {
  color: rgb(18, 211, 105);
  background-color: #095e18;
  font-size: larger;
}

.pg3-info h3 {
  font-size: xx-large;
  color: #095e18;
}

.pg3-info p {
  text-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.page-4 {
  background-image: url(../img/waterfall.jpg);
  height: 60vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.pg4-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: rgba(0, 0, 0, 0.158);
}

.page-4 h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 4rem;
  color: white;
}

.page-4 p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  color: white;
  text-wrap: wrap;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.page-4 button {
  height: 50px;
  width: 200px;
  background-color: #053f0f;
  color: rgb(221, 155, 69);
  border-radius: 20%;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  margin-right: 20px;
}

.page-4 button:hover {
  color: rgb(18, 211, 105);
  background-color: #095e18;
  font-size: larger;
}

/* .page-5 {
  height: 100vh;
}

.pg5-overlay {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 0.2fr 0.1fr 0.7fr;
  row-gap: 50px;
  background-color: rgb(219, 78, 78);
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.pg5-info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 40%;
  text-align: center;
}

.pg5-img {
  position: absolute;
  top: 60%;
  right: 0;
  left: 0;
  bottom: 0;
  /* background-image: url(../img/giraffe.jpg);
  background-position: center;
  background-size: cover; */
/* }

.page-5 h1 {
  font-size: 4rem;
}

.page-5 p {
  font-size: 1rem;
  color: white;
  text-wrap: wrap;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.page-5 button {
  background-color: rgba(35, 134, 48, 0.788);
  padding: 10px 20px;
  width: 10rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  margin-right: 20px;
}  */

.page-5 {
  height: 40vh;
}

.pg5-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: #575633;
}

.page-5 h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 4rem;
  color: white;
}

.page-5 p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  color: white;
  text-wrap: wrap;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.page-5 button {
  height: 50px;
  width: 200px;
  background-color: #053f0f;
  color: rgb(221, 155, 69);
  border-radius: 20%;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  margin-right: 20px;
}

.page-5 button:hover {
  color: rgb(18, 211, 105);
  background-color: #095e18;
  font-size: larger;
}

.pg6-overlay {
  background-color: #575633;
}

.pg6-overlay img {
  height: 100vh;
  width: 97%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.page-7 {
  height: 30vh;
  margin-top: -20px;
  /* position: relative;
  z-index: 1;
  width: 100%; */
}

.pg7-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: #252618;
}

.page-7 h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 4rem;
  color: white;
}

.page-7 p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  color: white;
  text-wrap: wrap;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.row {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 4px; */
  justify-content: center;
  /* flex-direction: row;
  column-gap: 50px; */
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding-left: 2px;
  padding-right: 2px;
  width: 100vw;
}

.column img {
  /* margin-top: 8px; */
  vertical-align: top;
  height: 40vh;
  width: 24%;
}
